<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    
        th,
        td{
            border: 1px solid black;
            
        }
       
        .homepage{
            margin: 25px;
            padding: 25px;
            border: 2px solid black;
            border-radius: 10px;
            background-color: wheat;
        }
        table{
            display: flex;
            align-content: center;
            justify-content: center;
        }

    </style>
</head>
<body>
    <div class="homepage">
    <table>
        <tr>
            <th>Email</th>
            <th>Username</th>
        </tr>
        <% for (user of users){ %>
            <tr>

                <td> <%= user.email %> </td>
                <td> <%= user.username %> </td>
                <td>
                <form method="GET" action="/user/<%= user.id %>/edit" >
                    <button> Edit username</button>
                </form>
            </td>
            </tr>
        
        <%  }   %>
        
    </table>
</div>
</body>
</html>

